<!DOCTYPE html>
<html>
<head>
    <title>오늘의 공공</title>
</head>
<body>
    <h1>오늘의 공공</h1>

    <!-- 사용자가 로그인한 경우에만 "소셜 로그인하기" 링크를 표시 -->
    <a href="/auth/kakao">소셜 로그인하기</a>


    <!-- 로그인한 사용자에게만 보여줄 내용 -->
   
     
</body>
</html>

